# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/
.napari_cache

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py

# Flask instance folder
instance/

# Sphinx documentation
docs/_build/

# MkDocs documentation
/site/

# PyBuilder
target/

# Pycharm and VSCode
.idea/
venv/
.vscode/

# IPython Notebook
.ipynb_checkpoints

# pyenv
.python-version

# OS
.DS_Store

# written by setuptools_scm
**/_version.py
doc/doc_build/.buildinfo
doc/doc_build/genindex.html
doc/doc_build/index.html
doc/doc_build/objects.inv
doc/doc_build/search.html
doc/doc_build/searchindex.js
doc/doc_build/.doctrees/environment.pickle
doc/doc_build/.doctrees/index.doctree
doc/doc_build/.doctrees/developer_guide/index.doctree
doc/doc_build/.doctrees/user_guide/index.doctree
doc/doc_build/.doctrees/user_guide/installation.doctree
doc/doc_build/.doctrees/user_guide/quickstart.doctree
doc/doc_build/_images/nap-stitch_doc.001.png
doc/doc_build/_sources/index.rst.txt
doc/doc_build/_sources/developer_guide/index.rst.txt
doc/doc_build/_sources/user_guide/index.rst.txt
doc/doc_build/_sources/user_guide/installation.rst.txt
doc/doc_build/_sources/user_guide/quickstart.rst.txt
doc/doc_build/_static/alabaster.css
doc/doc_build/_static/basic.css
doc/doc_build/_static/custom.css
doc/doc_build/_static/doctools.js
doc/doc_build/_static/documentation_options.js
doc/doc_build/_static/file.png
doc/doc_build/_static/jquery-3.5.1.js
doc/doc_build/_static/jquery.js
doc/doc_build/_static/language_data.js
doc/doc_build/_static/minus.png
doc/doc_build/_static/nap-stitch_doc.001.png
doc/doc_build/_static/plus.png
doc/doc_build/_static/pygments.css
doc/doc_build/_static/searchtools.js
doc/doc_build/_static/underscore-1.13.1.js
doc/doc_build/_static/underscore.js
doc/doc_build/developer_guide/index.html
doc/doc_build/user_guide/index.html
doc/doc_build/user_guide/installation.html
doc/doc_build/user_guide/quickstart.html
