site_name: napari-stitcher
site_url: https://multiview-stitcher.github.io/napari-stitcher
site_description: A napari plugin for stitching large multi-positioning datasets in 2/3D+t using multiview-stitcher

repo_name: napari-stitcher
repo_url: https://github.com/multiview-stitcher/napari-stitcher
# edit_uri: edit/main/docs/
# use_directory_urls: false

plugins:
  - mike:
      canonical_version: main
  - mkdocstrings:
      default_handler: python
      handlers:
        python:
          paths: [src]
          selection:
            docstring_style: numpy
  - search
  - mermaid2:
      version: 11.3.0
      arguments:
        securityLevel: 'loose'

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:mermaid2.fence_mermaid_custom
  - pymdownx.tasklist:
      custom_checkbox: true
  # https://squidfunk.github.io/mkdocs-material/reference/admonitions
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - attr_list

nav:
  - index.md
  - installation.md
  - loading.md
  - naming_convention.md
  - prearrangement.md
  - writing.md
  - scripting.md
  - contributing.md

theme:
  name: material
  features:
    - content.tabs.link
    - content.code.annotate
    - content.code.copy
    # - navigation.tabs
    - navigation.footer  # next/previous links in footer
  logo: images/logo.png
  icon:
    repo: fontawesome/brands/github
  color_mode: dark
  palette:
    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: white
      accent: teal
      toggle:
        icon: material/lightbulb
        name: Switch to light mode
    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: white
      accent: dark blue
      toggle:
        icon: material/lightbulb-outline
        name: Switch to dark mode

extra:
  version:
    provider: mike
